
body {
    margin: 10px; /*بعمل مسافة 10px حول محتوى الصفحة من الخارج */
}

.text {
    width: 80%;
}

.fixed-image {
    position: fixed;
    right: 150px;
    top: 70px;
    width: 110px;
    height: 350px;
    border: 1px solid gray;
}